@font-face {
  font-family: 'principalCursiva';
  src: url("fonts/HelveticaNeueLTStd-LtCnO.otf"); }

header {
  background-color: #CACACA;
  width: 100%;
  height: 7%;
  position: fixed;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.container {
  top: 15%;
  position: absolute;
  text-align: center;
  width: 100%; }

footer {
  background-color: #CACACA;
  width: 100%;
  height: 3%;
  position: fixed;
  text-align: center;
  bottom: 0; }
